 .wrapper {
 	width: 960px;
 	margin: 0 auto;
 }
 .navigation{
 	display: flex;
 	justify-content: space-around;
 	flex-direction: row;
 	margin-top: 50px;
 }
 .dots{
 	display: flex;
 	justify-content: space-around;
 }
 .dot{  
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2eb8b8;
  border-radius: 50%;
  display: inline-block; 
}

 